@model HomeIndexViewModel

@{
    ViewBag.Title = "Home page";
    
}

<h1>All Restaurants</h1>
<table>
    @foreach (var res in Model.Restaurants)
    {
        <tr>
            <td>@res.Id</td>
            <td>@res.Name</td>
            <td>

                @*Different ways to do
                    <a href="/home/details/@res.Id">Details</a>
                    @Html.ActionLink("Go", "Details", new { id = res.Id})*@
                <a asp-action="Details" asp-route-id="@res.Id">More</a>
                <a asp-page="/Restaurants/Edit" asp-route-id="@res.Id">Edit</a>
            </td>
        </tr>
    }
</table>
<a asp-action="Create">Add Restaurant</a>

@section footer{
    @Model.CurrentMessage
}
